.Container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.grid3{
    grid-template-columns: repeat(3,1fr);
}
.card{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow:0 3px 10px rgba(0, 0, 0, 0.2) ;
    padding: 20px;
    margin: 10px;
   
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
} 
.btnOutline{
   background-color: transparent;
   border: 1px #fff solid; 
}
.btn:hover{
    transform:scale(.98) ;
}
/*Background and coloured button*/
.bgPrimary, .btnPrimary{
    background-color: var(--primary-color);
    color: #fff; 

}
.bgSecondary, .btnSecondary{
    background-color: var(--secondary -color);
    color: #fff; 

}
.bgDark, .btnDark{
    background-color: var(--dark-color);
    color: #fff; 

}
.bgLight, .btnLight{
    background-color: var(--light-color);
    color: #333; 

}

.bgPrimary a, .btnPrimary a, 
.bgSecondary a, .btnSecondary a,
.bgDark a,.btnDark a {
    color: #fff ;
}
/*Text color*/
.lead{
    font-size: 20px;
}

.sm{
    font-size: 1rem;
}
.md{
    font-size: 2rem;
}
.lg{
    font-size: 3rem;
}
.xl{
  font-size: 4rem;  
}


.textCenter{
    text-align: center;
}


.my1{
    margin: 1rem 16rem;
}
.my1-1{
    margin: 1rem 0;
}
.my2{
   margin: 2rem 0; 
}
.my3{
    margin: 3rem 0;
}
.my4{
    margin: 3rem 0;
}
.my5{
    margin: 4rem 0;
}
.m1{
    margin: 1rem;
}
.m2{
   margin: 2rem; 
}
.m3{
    margin: 3rem;
}
.m4{
    margin: 3rem;
}
.m5{
    margin: 4rem;
}
/*padding*/
.py1{
    padding: 1rem 0;
}
.py2{
   padding: 2rem 0; 
}
.py3{
    padding: 3rem 0;
}
.py4{
    padding: 3rem 0;
}
.py5{
    padding: 4rem 0;
}

.py1{
    padding: 1rem;
}
.py2{
   padding: 2rem; 
}
.p3{
    padding: 3rem;
}
.p4{
    padding: 3rem;
}
.p5{
    padding: 4rem;
}


@media(max-width:768px){
    .my1{
     margin: 1rem 0;
 }
 }
   /*Mobile*/
 @media (max-width: 500px) 
 {
    
 }
